.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #0288d1;
  color: white;
}

.logo {
  font-weight: 700;
  font-size: 1.8rem;
}

.navbar nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.navbar nav a:hover {
  text-decoration: underline;
}
