.signup-container {
  max-width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: linear-gradient(135deg, #e0f7fa, #ffffff);;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #4cafef;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #3a97d4;
}
